global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: [ 'localhost:9090' ]

  - job_name: 'ATCHA_backend'
    scrape_interval: 5s
    static_configs:
      - targets:
          - '172.33.0.20:3333'